{% extends "base.html" %}

{% block content %}
<div class="container mt-3 mb-5">
    <div class="row mt-5 mb-5 shadow">
        <div class="col-lg-6">
            <img src="https://www.riu.com/en/binaris/pool-riu-baobab-4_tcm55-262962.jpg?v=tm190824_1144" alt="" class="img-fluid img-responsive">
        </div>
        <div class="col-lg-6">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/357440632.jpg?k=426a960e5eedf95e54c1bf33506dd7e4d7c81dd3f2685cd5c1e680e1e715f521&o=&hp=1" alt="" class="img-fluid img-responsive">
        </div>
        <div class="col-lg-6">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/351739748.jpg?k=4b3ed67f47e13548b5df3d223ecbaddb97075d4862f9c23d915f203c028ed98a&o=&hp=1" alt="" class="img-fluid img-responsive">
        </div>
        <div class="col-lg-6">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2d/ae/61/d1/splash-water-world.jpg?w=700&h=-1&s=1" alt="" class="img-fluid img-responsive">
        </div>
        <div class="col-lg-6">
            <img src="https://www.itourismetv.com/image_server/pct1646078238itourisme_hotel_Riu.jpg" alt="" class="img-fluid img-responsive">
        </div>
        <div class="col-lg-6">
            <img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/351739748.jpg?k=4b3ed67f47e13548b5df3d223ecbaddb97075d4862f9c23d915f203c028ed98a&o=&hp=1" alt="" class="img-fluid img-responsive">
        </div>
    </div>
</div>
{% endblock %}











